body{
    display: flex;
    justify-content: center;
}
.avatar-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    border: 0.01rem solid black;
    max-width: 60%;
}
img{
    width: 5%;
}
.image-avatar{
    border-radius: 50%;
    border: 0.05rem solid black;
}